%footer.footer.fixed-bottom
  .container-fluid.border-t
    %p.text-center.text-muted.text-truncate
      = "#{t('copyright')} #{Date.today.year} #{t('dreambot')}. #{t('all_rights_reserved')}.".html_safe
