.d-none
  // https://www.zapsplat.com
  = audio_tag 'bell_small.mp3', class: 'sound-bell'
  = audio_tag 'household_flashlight_button_press.mp3', class: 'sound-button-press'
  = audio_tag 'multimedia_button_click_1.mp3', class: 'sound-button-press-2'
  = audio_tag 'dustyroom_cartoon_bubble_pop.mp3', class: 'sound-bubble'
  = audio_tag 'arcade_game_fruit_machine_jackpot.mp3', class: 'sound-cash-register'
  = audio_tag 'cartoon_punch.mp3', class: 'sound-punch'
  = audio_tag 'car_explosion_debris.mp3', class: 'sound-explosion'
  = audio_tag 'fire-long.mp3', class: 'sound-fire'
  = audio_tag 'scifi_terminal.mp3', class: 'sound-terminal'
  = audio_tag 'multimedia_rollover_1.mp3', class: 'sound-rollover'
