= strategy_worker_name(strategy)
= strategy_instrument(strategy)
= strategy_chart_interval(strategy)
= strategy_units_or_percentage(strategy)
= strategy_exit_hours(strategy)
= strategy_consecutive_losses_allowed(strategy)
